<main>
  <div class = "container">
<h2>Follow Users</h2>
<% if @users.exists? %>
<% @users.each do |user| %>
<div class = "box6">
  <div class="media">
    <%= link_to user_path(user) do %>
   <p><img class="rounded-circle d-flex ml-2"<%= attachment_image_tag user, :profile_image, fallback: "noimage.png", size:"80" %></p>
   <div class="media-body">
     <p><%= user.nickname %><p>
       <% end %>
           <p><%= user.profile %></p>
           </div>
           </div>
           </div>
    <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>
</div>
</main>
