<div class="container">
    <main>
      <h1>About</h1>
      <div class = "box2">
          　un caféとはフランス語で「コーヒー」や「カフェ」を意味します。このアプリケーションをカフェに関係するもの限定で投稿するものです。<br>
     　ぜひ自分自身のお気に入りのカフェ、そこから見える景色、コーヒー、料理……あなたがカフェで過ごした素敵な時間を共有してください。<br>
   　   このアプリを使用して、全国さらには全世界の素敵なカフェを探すことができます。<br><br>

　  ── このアプリケーションを通じてあなたのお気に入りの場所が見つかりますように<br><br><br>

　  <center><div class="ml-5"><%= link_to'会員登録はこちらから', new_user_registration_path, class: "btn btn-outline-dark" %></center>
　  <center><div class="ml-5"><%= link_to'back to top', root_path, class: "btn btn-outline-dark" %></center>

      </div>

</div>