
<div class="mt-md-5">
  <div class="container">
      <div class = "box">
          <span style="text-decoration: underline">welcome to un cafe</span>
      </div>
    <div class="a">
      <div class="b"><img class="c" src="assets/cafe1.jpg"></div>
      <div class="b"><img class="c" src="assets/cafe2.jpg"></div>
      <div class="b"><img class="c" src="assets/cafe3.jpg"></div>
      <div class="b"><img class="c" src="assets/cafe5.jpg"></div>
      <div class="b"><img class="c" src="assets/cafe6.jpg"></div>
      <div class="b"><img class="c" src="assets/cafe7.jpg"></div>
      <div class="b"><img class="c" src="assets/cafe8.jpg"></div>
    </div>
  </div>
</div>