/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


//googlefont読み込み
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Shippori+Mincho&display=swap');


//top画像フレーム
.c{
　position: flex;
  margin: 15% auto 0;
  height: 500px;
  width :80%;
  border-top: 25px solid rgba(244, 240, 236, 0.8);
  border-left: 25px solid rgba(244, 240, 236, 0.8);
  border-bottom: 25px solid rgba(244, 240, 236, 0.8);
  border-right: 25px solid rgba(244, 240, 236, 0.8);
  box-shadow: 0 4px 20px #999;
}

//基本機能
footer{
    width: 100%;
    height: 120px;
    text-align: center;
    margin-top: 10%;
    background: #F4F0EC;
    line-height: 120px;
    font-family: 'Bad Script', cursive;
}
main{
    margin-top: 15%;
}

h1{
  font-family: 'Bad Script', cursive;
  background: linear-gradient(transparent 50%, #F4F0EC 50%);
  width: 20%;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20%;
}

h2{
  font-family: 'Bad Script', cursive;
  background: linear-gradient(transparent 50%, #F4F0EC 50%);
  width: 30%;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20%;
}

h3{
    font-family: 'Shippori Mincho', serif;
    font-size: 22px;
}


//topページwelcome用のボックス
.box{
    font-family: 'Bad Script', cursive;
    position: absolute;
    z-index: 100;
    background: rgba(0,0,0,0.5);
    margin: 0 auto;
    margin-top: 15%;
    width: 50%;
    height: 15%;
    color: #fefefe;
    font-size: 35px;
    line-height: 100px;
    text-align: center;
}

//aboutの説明用ボックス
.box2{
    width: 70%;
    font-family: 'Shippori Mincho', serif;
    margin: 0 auto;
}
//devise関係のボックス
.box3{
    width: 50%;
    height: 100%;
    font-family: 'Shippori Mincho', serif;
    margin: 0 auto;
    background: #FAF0E6;
    box-shadow: 10px 10px #E7C9A9;
    text-align: center;
    line-height: 2.5;
}

//関係のボックス
.box4{
    border: 0.5px solid #222;
    width: 40%;
    height: 30%;
    font-family: 'Shippori Mincho', serif;
    margin: 0 auto;
    line-height: 1.5;
    padding: 1em;
    margin-bottom: 20px;
}

//リンクカラー
a{
    color: #666;
}